@media (min-width: 1280px) {

    .container {
        max-width: 1200px;
    }
}

@media (max-width: 480px){
    
}
@media (max-width: 575.98px) {
    #carousel__corp .carousel-item {
        height: 550px;
    }

    header#header__corp {
        width: 375px;
    }
}

@media (max-width: 767.98px) {
    .service__title{
        top:62%
    }
}

@media (max-width: 991.98px) {
    .aboutus__right .row .col-6{
        padding: 0 5px;
    }
    .aboutus__right-right img:nth-child(1){
        margin: 20px 0;
    }
    .aboutus__left li{
        margin-top: 6px;
    }
    .title p:nth-child(3){
        font-size: 1.7rem;
    }
    .title h2{
        font-size: 2.6rem;
    }
    .control-prev-icon{
        padding: 16px;
    }
    .control-next-icon{
        padding: 16px;
    }
    .carousel-control-next, .carousel-control-prev{
        top: 83%;
        padding: 16px;
    }
    .carousel__corp-slider{
        z-index: 0;
    }
    .shape{
        z-index: 1;
        width: 101%;
    }
    #carousel__corp .carousel-control-prev{
        right: 80px;

    }
    button.carousel-control-next{
        right: 15px;
    }
    input.header__input-text{
        padding-left: 40px;
    }
    .header__icon-close {
        right: 6%;
        top: 15%;
        font-size: 5rem;

    }

    .navbar-nav .nav-item:nth-child(1) {
        padding-top: 20px;
    }

    .navbar-corp {
        font-size: 2.6rem;
    }

    .btn-primary {
        padding: 12px 30px;
    }

    .carousel-caption p {
        font-size: 5.1vw;

    }

    .carousel-caption h2 {
        font-size: 8.15vw;
    }

    #carousel__corp .carousel-caption {
        left: 0;
    }

    #header__corp.mobile-se {
        height: auto;
        background: rgba(0, 0, 0, 0.7);
    }

    #header__corp.fixed-scroll {
        height: auto;
    }

    .nav-link {
        text-align: center
    }

    .dropdown-menu::before {
        display: none;
    }

    .dropdown-menu.show {
        padding: 5px 0;
    }

    .header__search-icon {
        position: absolute;
        top: 0;
        right: 100px;
        width: 40px;
        height: 40px;
        line-height: 4.2rem;
        top: 14px;

    }

    .header__switch {
        position: absolute;
        top: 20px;
        right: 64px;
        font-size: 1.6rem;
    }

    .header__switch-moon {
        font-size: 2.6rem;
    }

    .header__switch-sun {
        font-size: 2.6rem;

    }

    #header__corp .dropdown-item {
        text-align: center;
        padding: 0;
        padding-bottom: 10px;
    }

    .navbar-toggler-icon {
        padding: 5px;
        color: #fff;
        background-color: var(--green);
        font-size: 2.3rem;
        line-height: 2.7rem;
    }

    span.navbar-toggler-icon.fa-solid.fa-xmark {
        display: none;
        border-radius: 4px;
    }

    span.navbar-toggler-icon.fa-solid.fa-xmark.show {
        display: block;
    }

    span.navbar-toggler-icon.fa-solid.fa-bars.show {
        display: none;
    }

    .navbar-collapse {
        max-height: calc(100vh - 100px);
    }

    #navbarSupportedContent.hidden {
        overflow-y: auto;
    }

    #header__corp.fixed-scroll {
        position: fixed;
        top: 0;
    }
}

@media (max-width: 1199.98px) {}